.container-margin-large {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .box-margin {
    margin-top: 2rem;
  }
  
  .success-message {
    margin-top: 1rem;
    color: green;
  }
  
  